<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/h1.css">
</head>

<body>
    <form action="member" method="post">
        <table>
            <tr>
                <th colspan="2">회원가입</th>
            </tr>
            <tr>
                <td class="td1">ID</td>
                <td align="center">
                    <input name="id" class="textType" placeholder="회원_아이디">
                </td>
            </tr>
            <tr>
                <td class="td1">PW</td>
                <td align="center">
                    <input name="pw" type="password" class="textType" placeholder="비밀번호">
                </td>
            </tr>
            <tr>
                <td class="td1">성별</td>
                <td>
                    <!-- name이 같은것중에 반드시 하나만 선택 -->
                    <input name="gender" type="radio" value="남" checked>남자
                    <input name="gender" type="radio" value="여">여자
                    <input name="gender" type="radio" value="기">기타
                </td>
            </tr>

            <tr>
                <td class="td1">취미</td>
                <td>
                    <!-- 여러개 선택 -->
                    <input name="hobby" type="checkbox" value="운동">운동
                    <input name="hobby" type="checkbox" value="독서">독서
                    <input name="hobby" type="checkbox" value="잠">잠
                </td>
            </tr>

            <tr>
                <td>메모</td>
                <td><textarea name="comment"></textarea></td>
            </tr>

            <tr>
                <td colspan="2" align="center">

                    <input type="submit" value="가입" class="btnType">
                    <input type="reset" value="다시" class="btnType"><br>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>