<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE</title>
</head>
<body>
    <h3>회원정보 수정</h3>
    <form action="@{/update}" method="post">
        <!-- <input type="hidden" value="_method" method="patch" -->
         <input type="hidden" name="username" value="${username}">
         <!-- <input type="password" name="password" value="${password}"> -->
         name: <input type="text" name="name" value="${name}">
        <input type="submit">
    </form>
</body>
</html>