<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>근무지 수정</title>
</head>

<body>
        <div layout:fragment="content">

    <p>근무지를 수정합니다.</p>

    <form action="/update" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="deptno" th:value="${deptno}">
        <!-- 현재 근무지 : <span></span> -->
        <span>근무지</span><input name="loc" placeholder="변경할 근무지 입력">
        <input type="submit" value="변경">
    </form>
</div>

</body>

</html>