<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
</head>
<body>
    <h1>어드민 권한을 가진 사용자만 사용할 수 있는 화면입니다.</h1>
    <ul>
        <li>아이디: <span th:text="${#authentication.name}"></span></li>
        <li>권한: 
            <ul>
                <li th:each="auth : ${#authentication.authorities}"
                    th:text="${auth.authority}">ROLE_USER</li>
            </ul>
        </li>
    </ul>
</body>
</html>