<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>회원 가입</title>
</head>

<body>
	<h3>회원 가입을 환영합니다.</h3>
	<form th:action="@{/insert}" method="post" id="joinform">
		<table>
			<tr>
				<td>id</td>
				<td><input name="username" id="id"></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input name="password" type="password" id="password"></td>
			</tr>
			<tr>
				<td>name</td>
				<td><input name="name" id="name"></td>
			</tr>

			<tr>
				<td colspan="2"><input type="submit" value="가입"></td>
			</tr>
		</table>
	</form>
</body>

</html>