<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목록</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <ul>
        {% for post in posts %}
        <li>
            {{loop.index}}.{{post.title}} (작성자:{{post.author}})
            {% if user==post.author %}
            내가 쓴 글
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/">home</a>
</body>
</html>


<!-- loop.index → 1부터 시작하는 인덱스

loop.index0 → 0부터 시작하는 인덱스

loop.first → 첫 번째 요소 여부 (True/False)

loop.last → 마지막 요소 여부 (True/False)

loop.length → 전체 길이 -->